@import './utils/variables';
@import './utils/mixins';

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;

    @include responsive-desk($break-desktop){
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .nous {
        background-color: $primary-green;
        box-sizing: border-box;
        box-shadow: 10px -7px 10px $color-shadow-nous;
        border-radius: 0% 20%;
        padding: 25px;
        color: $primary-white;
        text-align: center;
        flex-grow: 1;
        min-width: 33%;

        &__logo {
            margin-top: 30px;
            width: 30%;
        }
    }

    .contact {
        background-color: $primary-white;
        box-sizing: border-box;
        box-shadow: 10px -7px 10px $color-shadow-contact;
        border-radius: 0% 20%;
        padding: 25px;
        color: black;
        min-width: 33%;

        flex-grow: 1;

        &__title {
            text-align: center;
            padding-bottom: 15px;
        }

        &__block {
            margin-left: 25%;
            
        }

        &__lien {
            text-decoration: none;
            color: $primary-green;

            &:hover {
                color: $primary-red;
            }
        }
    }

    .partenariat {
        background-color: $primary-red;
        box-sizing: border-box;
        box-shadow: 10px -7px 10px $color-shadow-partenariat;
        border-radius: 0% 20%;
        padding: 25px;
        color: $primary-white;
        text-align: center;
        min-width: 33%;
        flex-grow: 1;

        &__logo {
            margin-top: 60px;
            width: 40%;
        }
    }
}
