@import './utils/variables';
@import './utils/mixins';

@font-face {
    font-family: 'Sevillana';
    src: url("Sevillana-Regular.ttf");
}

body {
    #entete{
        padding: 0.5% 0% 5% 1%;

        .divHeader {

            display: flex;
            justify-content: center;
            margin-top: 2%;
            margin-bottom: 2%;

            .titre {
                font-family: 'Sevillana';
                padding-top: 1%;
                padding-left: 2%;
                color: rgb(206, 41, 41);
                font-size: 50px;
                font-style: italic;

                @include responsive-mobile($mobile) {
                    padding-top: 0%;
                    padding-left: 0%;
                    text-align: center;
                }
            }

            .logo{

                @include responsive-mobile($mobile){
                    padding-left: 5%;
                }
            }

        }

        .divPara {

            border: 4px solid rgb(206, 41, 41);
            padding: 2%;
            margin: 0% 20% 0% 20%;
            background-color: rgb(0, 140, 69);
            color: white;
            font-style: italic;
            letter-spacing: 1.5px;

            @include responsive-mobile($mobile) {
                margin: 0% 5% 0% 15%;
            }

            .description {

                text-align: center;
                font-size: 19px;
                line-height: 1.5;
            }
        }


        #panier-items {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            width: 20%;
            padding-left: 80%;
        }

        #total {
            display: flex;
            flex-direction: row-reverse;
        }

    }

}