//Fichier scss qui va importer tous les autres


// Attention à l'ordre des imports (ex : ne pas mettre un fichiers qui a besoins des variables avant l'import de celles-ci
@import './vendors/reset';
@import './utils/variables';
@import './utils/mixins';
@import './base/base.scss';
@import './components/buttons';
@import'./header.scss';

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


// Style pour les button du DarkMode
// Styles pour le bouton de changement de thème

body {
    font-family: Cursive;

    .container {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        max-width: 100%;
        justify-content: center;
        gap: 25px;
        padding-top: 3%;

        h2{
            color: $primary-red;
            font-size: 40px;
            text-decoration: underline;
        }
        
        .divBtn{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            padding-left: 33%;
            padding-right: 33%;

            @include responsive-mobile($mobile){
                padding-left: 5%;
                padding-right: 5%;
            }

            @include responsive-desk($break-desktop){
                padding-left: 15%;
                padding-right: 15%;
            }

            &__btn{
                padding: 2%;
                border: 3px solid $primary-red;
                color: $primary-white;
                background-color: $primary-green;
                border-radius: 3px;
                font-size: 16px;

                &:hover{
                    background-color: darken($primary-green,10%);
                }
            }
            
          }
        
        .card {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 365px;
            border: 3px solid $primary-red;
            background-color: $primary-green;
            box-sizing: border-box;
            box-shadow: 0 13px 15px $color-shadow-card;
            color: $primary-white;
            border-radius: 0% 20%;
            text-align: center;

            &__div {

                display: contents;

                &__image {
                    width: 100%;
                    height: 45%;
                    box-sizing: border-box;

                    object-fit: cover;
                    border-radius: 0% 20%;
                    border: 2px solid $primary-white;
                }

            }

            &__text {
                padding: 5%;

                &__div {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-around;
                    color: $primary-red;
                    padding-bottom: 5%;
                    font-size: 25px;

                    &__btn {
                        border: 2px solid $primary-red;
                        margin: 2%;

                    }
                }

                &__name {
                    font-size: large;
                    text-decoration: underline;
                    margin: 3px;
                    padding-bottom: 5%;
                }

                &__descri {
                    font-size: medium;
                    margin: 6px;
                
                }

                &__price {
                    margin: 20px;

                }

                &__origine {
                    margin: 20px;
                }

                &__add {
                    margin: 20px;
                    color: $primary-white;
                    padding: 10px 15px;
                    background-color: $primary-red;

                    &:hover{
                        background-color: darken($primary-red,10%);
                    }
                }

            }

        }
    }
}