//Fichier scss qui va importer tous les autres


// Attention à l'ordre des imports (ex : ne pas mettre un fichiers qui a besoins des variables avant l'import de celles-ci
@import './vendors/reset';
@import './utils/variables';
@import './utils/mixins';
@import './base/base.scss';
@import './components/buttons';

// Style pour les button du DarkMode
// Styles pour le bouton de changement de thème

body{



    header {
    
        .logo{

        }

        .titre{

        }

    }

    .container{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;

        .card{

            &__div{

                &__image{

                }

            }

            &__text{

                &__div{

                    &__btn{

                    }
                }

                &__name{

                }

                &__descri{

                }

                &__price{

                }

                &__origine{

                }

            }

        }
    }
}

